/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b2d2f; /* Темный фон для header */
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-end; /* Кнопки и логин выровнены справа */
  align-items: flex-end;/* Выравнивание по вертикали */
  flex-wrap: nowrap;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(23, 23, 23, 0.4);
}

/* Контейнер для кнопок */
.auth-buttons {
  display: flex;
  flex-wrap: nowrap; /* Кнопки расположены в один ряд */
  gap: 1rem; /* Расстояние между кнопками */
  padding-right: 70px;
}

/* Формы обертки для кнопок */
.auth-buttons form {
  display: inline-block; /* Формы становятся строчными блоками */
  margin: 0;
}

/* Кнопки */
.auth-buttons .form-button {
  width: auto; /* Убираем ширину 100% */
  padding: 0.5rem 1rem; /* Уменьшенный отступ */
  font-size: 0.9rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Имя пользователя */
.username {
  font-size: 1rem;
  color: #e8eaed;
  margin-right: 0.5rem;
  margin-top: 8px;
}
